<div class="container mt-4 p-3 border rounded">
    <h3>Crear Usuario</h3>
    <form (ngSubmit)="createUser()">

        <div class="mb-3">
            <label for="name" class="form-label">Nombre:</label>
            <input 
                type="text"
                id="name"
                class="form-control"
                [(ngModel)]="newUser.name"
                name="name"
                placeholder="Ingrese un nombre..."  
                required  
            >
            
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input 
                type="text"
                id="username"
                class="form-control"
                [(ngModel)]="newUser.username"
                name="username"
                placeholder="Ingrese un username..." 
                required
            >

        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input 
                type="email"
                id="email"
                class="form-control"
                [(ngModel)]="newUser.email"
                name="email"
                placeholder="Ingrese un email..." 
                required
            >

        </div>

        <button type="submit" class="btn btn-primary">Crear Usuario</button>


    </form>




</div>