<div class="flex items-center justify-center my-6">
  <div class="overflow-x-auto shadow-lg rounded-lg w-9/12">
    <table class="min-w-full border-collapse bg-white text-sm text-gray-700">
      <thead class="bg-blue-500 text-white">
        <tr class="text-left font-semibold">
          <th class="px-6 py-3 border border-black">Nombre</th>
          <th class="px-6 py-3 border border-black">Dirección</th>
          <th class="px-6 py-3 border border-black">Ciudad</th>
          <th class="px-6 py-3 border border-black">Teléfono</th>
          <th class="px-6 py-3 border border-black">Estado</th>
          <th class="px-6 py-3 border border-black">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let sucursal of sucursales; let i = index"
          [class.bg-gray-100]="i % 2 === 0"
          class="hover:bg-blue-100 transition-colors"
        >
          <td class="px-6 py-3 border">{{ sucursal.nombre }}</td>
          <td class="px-6 py-3 border">{{ sucursal.direccion }}</td>
          <td class="px-6 py-3 border">{{ sucursal.ciudad }}</td>
          <td class="px-6 py-3 border">{{ sucursal.telefono }}</td>
          <td class="px-6 py-3 border">{{ sucursal.estado }}</td>
          <td class="flex justify-center space-x-2 py-3 border">
            <button
              (click)="eliminarSucursal(sucursal._id)" 
              class="bg-green-400 border rounded-lg text-white py-2 px-4 cursor-pointer">
                <i class="fas fa-edit"></i>
                Editar
            </button>
            <button
              (click)="eliminarSucursal(sucursal._id)" 
              class="bg-red-400 border rounded-lg text-white py-2 px-4 cursor-pointer">
                <i class="fas fa-trash"></i>
                Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

