<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-body">
      <h4 class="card-title mb-4 text-center text-primary">Agregar Nueva Tarea</h4>
      <form (ngSubmit)="agregarTarea()">
        <div class="mb-3">
          <label for="id" class="form-label fw-bold">ID</label>
          <input type="number" id="id" class="form-control" [(ngModel)]="id" name="id" placeholder="Escriba el ID">
        </div>

        <div class="mb-3">
          <label for="title" class="form-label fw-bold">Título</label>
          <input type="text" id="title" class="form-control" [(ngModel)]="title" name="title" placeholder="Escriba el título">
        </div>

        <div class="mb-3">
          <label for="description" class="form-label fw-bold">Descripción</label>
          <textarea id="description" class="form-control" [(ngModel)]="description" name="description" rows="5" placeholder="Escribí tu tarea aquí..."></textarea>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-lg">Agregar Tarea</button>
        </div>
      </form>
    </div>
  </div>
</div>
