<div class="d-flex flex-column align-items-center justify-content-center min-vh-100 w-50 mx-auto py-2">

    <div class="m-2 d-flex gap-2">
        <button class="btn btn-primary flex-fill border rounded" (click)="getLoginMode()">Iniciar Sesión</button>
        <button class="btn btn-primary flex-fill border rounded" (click)="getRegisterMode()">Registrarse</button>
    </div>

    <div *ngIf="registerMode" class="container m-3">

        <form [formGroup]="usuarioForm" (ngSubmit)="addUser()" class="border p-4 bg-white rounded shadow-sm">
            <h4 class=" mb-3 text-primary">Registra tu usuario</h4>
            <p>Diligencia el formulario para registrar tu usuario</p>

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input 
                    type="text"
                    class="form-control" 
                    formControlName="nombre"
                    placeholder="Escriba su nombre..."   
                >
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Correo:</label>
                <input 
                    type="email"
                    class="form-control" 
                    formControlName="email"
                    placeholder="Escriba su correo..."   
                >
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input 
                    type="password"
                    class="form-control" 
                    formControlName="password"
                    placeholder="Escriba su contraseña..."   
                >
            </div>

            <div class="mb-3">
                <label for="text" class="form-label">Rol:</label>
                <input 
                    type="text"
                    class="form-control" 
                    formControlName="role"
                    placeholder="Escriba el rol..."   
                >
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success w-100">Registrarse</button>
            </div>
        </form>

    </div>

    <div *ngIf="loginMode" class="container m-3">

        <form [formGroup]="loginForm" (ngSubmit)="login()" class="border p-4 bg-white rounded shadow-sm">
            <h4 class=" mb-3 text-primary">Inicio de Sesión</h4>
            <p>Ingresa tu correo y contraseña para ingresar</p>

            <div class="mb-3">
                <label for="email" class="form-label">Correo:</label>
                <input 
                    type="email"
                    class="form-control" 
                    formControlName="email"
                    placeholder="Escriba su correo..."   
                >
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input 
                    type="password"
                    class="form-control" 
                    formControlName="password"
                    placeholder="Escriba su contraseña..."   
                >
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-success w-100">Iniciar sesión</button>
            </div>
        </form>

    </div>

</div>
