<div class="p-4 h-screen flex justify-center items-center bg-gradient-to-r from-white to-sky-200">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex flex-col p-6 bg-white border border-gray-500 rounded-lg w-2/4">
        <h4 class="mt-3 text-center text-xl text-blue-400 hover:font-semibold">Inicio de sesión</h4>
        <p class="mt-3 text-center text-blue-300 hover:font-semibold">Ingrese sus credenciales para iniciar sesión</p>
        <input 
            type="email"
            id="email"
            formControlName="email"
            class="mt-3 p-2 border rounded-lg"
            placeholder="Ingrese el email..."

        >
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
            <div class="text-red-500 text-sm mt-1">
                El email es obligatorio y debe ser válido
            </div>
        }

        <input 
            type="password"
            id="password"
            formControlName="password"
            class="mt-3 p-2 border rounded-lg"
            placeholder="Ingrese la contraseña..."
        >
        @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
            <div class="text-red-500 text-sm mt-1">
                La contraseña es obligatoria y debe tener minimo seis caracteres
            </div>
        }
        

        <button
            class=" mt-3 py-2 px-4 rounded-lg bg-blue-400 text-white hover:bg-blue-600 cursor-pointer"
            type="submit"
        >
            Iniciar Sesión
        </button>

        @if (mensajeFormularioInvalido) {
            <div class="mt-3 p-2 bg-green-200 text-green-800 rounded">
                {{ mensajeFormularioInvalido }}
            </div>
        }
        
        @if (mensajeErrorCredenciales) {
            <div class="mt-3 p-2 bg-red-200 text-red-800 rounded">
                {{ mensajeErrorCredenciales }}
            </div>
        }

        @if (mensajeExitoso) {
            <div class="mt-3 p-2 bg-green-200 text-green-800 rounded">
                {{ mensajeExitoso }}
            </div>
        }

    </form>
    
</div>
